@model Contas_a_Pagar___Web.Models.Lancamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lancamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanoContas.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanoContas.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Numero }) |
    @Html.ActionLink("Back to List", "Index")
</p>
