@model IEnumerable<Contas_a_Pagar___Web.Models.Lancamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanoContas.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataLancamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanoContas.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Numero }) |
            @Html.ActionLink("Details", "Details", new { id=item.Numero }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Numero })
        </td>
    </tr>
}

</table>
